@font-face {
  font-family: 'Fantasque Sans Mono Regular';
  font-style: normal;
  font-weight: 300;
  src: url('fantasquesansmono-regular-webfont.woff');
  /* IE9 Compat Modes */
  src: local('Fantasque Sans Mono Regular'), local('Fantasque Sans Mono Regular'),
    url('fantasquesansmono-regular-webfont.woff') format('woff'),

}

@font-face {
  font-family: 'Fantasque Sans Mono Bold';
  font-style: bold;
  font-weight: 500;
  src: url('fantasquesansmono-bold-webfont.woff');
  /* IE9 Compat Modes */
  src: local('Fantasque Sans Mono Bold'), local('Fantasque Sans Mono Bold'),
    url('fantasquesansmono-bold-webfont.woff') format('woff'),

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fantasque Sans Mono Regular';
}

.strong {
  font-family: 'Fantasque Sans Mono Bold';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
